@import "base/bootstrap_reboot";
@import "utils/variables";
@import "utils/mixins";
@import "utils/funciones";
@import "base/globales";
@import "pages/buscadores";
@import "pages/filtros";
@import "pages/cajas-busquedas";
@import "pages/cajas-noticias";
@import "pages/estadisticas";
@import "pages/articulos";
@import "layout/headers";
@import "layout/footers";