@import "base/bootstrap_reboot";
@import "components/breakpoints";
@import "components/grids";
@import "utils/variables";
@import "utils/mixins";
@import "utils/funciones";
@import "base/globales";
@import "pages/intros";
@import "pages/articulos";
@import "pages/cajas";
@import "layout/headers";
@import "layout/footers";