.footer--principal {
  height: auto;
  margin-top: 30px;
  border-top: 1px solid get-opacity($color-claro, 0.4);
  padding: 0 20px 20px 20px;
  background-color: $color-primario;
  @include media(desktop-s) {
    display: flex;
  }
}
.nav--footer ul {
  margin: 0;
  padding: 10px;
  li {
    margin-bottom: 8px;
    list-style: none;
  }
  a {
    color: get-opacity($color-claro, 0.5);
    @include titulos($Fuente2)
  }
  @include media(desktop-s) {
    display: flex;
    padding-top: 35px;
    li {
      margin-right: 50px;
    }
    a {
      color: $color-claro;
    }
  }
}
.nav--social {
  margin-left: auto;
  ul {
    display: flex;
    padding: 20px 0 20px 0;
  }
  li {
    list-style: none;
    margin-right: 20px;
    color: get-opacity($color-claro, 0.5);
  }
  a{
    color: get-opacity($color-claro, 0.5);
    @include titulos($Fuente2);
  }
  @include media(desktop-s) {
  ul {
    display: flex;
    padding-top: 35px;
  }
  li {
    margin-right: 50px;
    color: $color-claro;
  }
  a{
    color: $color-claro;
  }
  }
}
