*{
  box-sizing: border-box;
}
body {
	margin: 0;
	background-color: $color-primario;
	color: $color-claro;
	@include titulos($Fuente1);
	@include font-size(18px);
}
main {
	display: flex;
	width: 100%;
	height: 100%;
}
h1, h2, h3 {
  margin: 0;
  @include Oswald;
}