.banner--homepage {
  max-width: auto;
  padding: 50px;
  margin-bottom: 10px;
  background-color: $color-secundario;
  color: $color-claro;
  h3 {
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid get-opacity($color-claro, 0.5);
    @include font-size(24px);
    @include titulos($Fuente2);
  }
  p {
    text-align: center;
    @include font-size(18px);
    margin: 20px auto;
  }
  button {
    margin: 20px 30%;
    padding: 10px;
    height: 50px;
    border: 2px solid $color-claro;
    color: $color-claro;
    background-color: get-opacity($color-primario, 0.2);
    border-radius: 20px;
    @include font-size(16px);
    @include titulos($Fuente2);
  }
  @include media(tablet) {
    max-width: 416px;
    margin: 0;
  }
  @include media(desktop-s) {
    max-width: 320px;
    margin-bottom: 10px;
  }
}