.contenedor--home {
  margin-top: 120px;
  width: 100%;
  @include display-grid;
  @include grid-template-columns(1fr);
  @include grid-template-rows(1fr 1fr grid-repeat(2, 300px) 1fr grid-repeat(3, 300px));
  @include media(tablet) {
    @include grid-template-columns(1fr 1fr);
    @include grid-template-rows(1fr grid-repeat(4, 300px));
  }
  @include media(desktop-s) {
    height: 1200px;
    width: 1300px;
    margin: 120px auto 0 auto;
    @include grid-template-columns(1fr grid-repeat(3));
    @include grid-template-rows(1fr grid-repeat(3));
  }
}
.caja--grande {
  @include grid-column(1, 2);
  @include grid-row(1, 2);
  @include media(tablet) {
    @include grid-column(1, 3);
    @include grid-row(1, 2);
  }
  @include media(desktop-s) {
    @include grid-column(1, 4);
    @include grid-row(1, 3);
  }
}
.banner--homepage {
  margin: 0 auto;
  @include grid-column(1, 2);
  @include grid-row(5, 6);
  @include media(tablet) {
    @include grid-column(2, 3);
    @include grid-row(3, 5);
  }
  @include media(desktop-s) {
    margin: initial;
    @include grid-column(4, 5);
    @include grid-row(2, 4);
  }
}
.sidebar--listado {
  margin: 0 auto;
  @include grid-column(1, 2);
  @include grid-row(2, 4);
  @include media(desktop-s) {
    margin: initial;
    @include grid-column(1, 2);
    @include grid-row(3, 5);
  }
}
.caja-zelda {
  @include grid-column(1, 2);
  @include grid-row(4, 5);
  @include media(tablet) {
    @include grid-column(1, 3);
    @include grid-row(5, 6);
  }
  @include media(desktop-s) {
    @include grid-column(2, 4);
    @include grid-row(3, 4);
  }
}
.caja-rdr2 {
  margin: 0;
  @include grid-column(1, 2);
  @include grid-row(3, 4);
  @include media(tablet) {
    @include grid-column(2, 3);
    @include grid-row(2, 3);
  }
  @include media(desktop-s) {
    @include grid-column(4, 5);
    @include grid-row(1, 2);
  }
}
.caja-ff {
  @include grid-column(1, 2);
  @include grid-row(6, 7);
  @include media(tablet) {
    @include grid-column(1, 2);
    @include grid-row(4, 5);
  }
  @include media(desktop-s) {
    @include grid-column(2, 3);
    @include grid-row(4, 5);
  }
}
.caja-fortnite {
  @include grid-column(1, 2);
  @include grid-row(7, 8);
  @include media(tablet) {
    @include grid-column(1, 2);
    @include grid-row(6, 7);
  }
  @include media(desktop-s) {
    @include grid-column(3, 4);
    @include grid-row(4, 5);
  }
}
.caja-xbox {
  @include grid-column(1, 2);
  @include grid-row(8, 9);
  @include media(tablet) {
    @include grid-column(2, 3);
    @include grid-row(6, 7);
  }
  @include media(desktop-s) {
    @include grid-column(4, 5);
    @include grid-row(4, 5);
  }
}